
<header class="fixed-top">

  <button (click)='onClick()'>Ouvrir/Refermer</button>

  <!-- Au clic sur le bouton,
  la balise aside devient invisible
  ajouter la class close-aside sur la balise main
  -->


  <!--instance de header-->
  <!-- ici contenu du header -->
  <app-header></app-header>

</header>
<!-- [ngClass]="{'class': true}" -->
<!-- <main class='close-aside'></main> -->
<main [ngClass]="{'close-aside': !open}">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <!-- instance de nav -->
      <!-- mettre directement des liens -->
      <app-nav></app-nav>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
     
      <!-- ici composants dynamiques -->
      <!-- instance de router-outlet -->
      <!-- ici affichage de page-list-orders ou edit-order ou add-order -->
      <!-- ici affichage du component list-orders ou d'un autre componant -->
      <router-outlet></router-outlet>
      <!-- on va ajouter un composant dynamique -->
    </div>
    <footer>
      <!-- instance de footer -->
      <app-footer></app-footer>
    </footer>
  </div>
</main>

