<ul class="nav flex-column">
  <li class="nav-item">
    <!-- href= uniquement pour les liens externes -->
    <!-- routerLink='' -->
    <!-- routerLinkActive ajoute un style -->
    <a
    routerLink='orders'
    class="nav-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Orders</a>
  </li>
  <li class="nav-item">
    <a
    routerLink='orders/test'
    class="nav-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Test</a>
  </li>
</ul>
